/* Header */ 

header {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

/* Header Top */ 

#top_header{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;
}

#left_top_header{
    font-family: Stencil Std;
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    margin: 0.4rem;
}

#left_top_header img{
    height: 2rem;
    margin-right: 0.5rem;
}

#right_top_header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Search Box */

.search-box{
    transition: 0.8s;
    margin-right: 2rem;
    background-color: #fff8e1;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    width: 2rem;
    overflow: hidden;
}

.search-btn{
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: #fff8e1;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}

.search-input{
    border: none;
    background-color: #fff8e1;
    margin-left: 1rem;
    outline: none;
}

.search-box:hover{
    transition: 0.8s;
    width: 12rem;
}

.search-box:after:hover{
    width: 12rem;
}

/* Js dropdown */

.notif-icon, .account-icon, .notif-icon, .js-dropdown, .search-box{
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
}

#right_top_header img{
    height: 100%;
}

.dropdown-account ul{
    width: max-content;
    height: max-content;
}

.dropdown-notif ul {
    width: 20rem;
    height: 20rem;
}

.js-dropdown{
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.js-dropdown.active{
    transition: 0.5s;
    overflow: visible;
}

.js-dropdown ul{
    margin: 0.5rem 0 0 0;
    background-color: #fff8e1;
    border-radius: 1rem;
    float: right;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.js-dropdown ul a{
    z-index: 0;
    transition: 0.3s;
    list-style-type: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1rem;
}

.js-dropdown ul a:hover{
    transition: 0.3s;
    background-color: #ffc107;
    border-radius: 3rem;
}

.js-dropdown ul span{
    height: 3rem;
}

.js-dropdown h1{
    width: max-content;
}

/* Header Nav */

header nav{
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.dropdown-btn {
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.dropdown-div {
    transition: 0.3s;
    height: 2rem;
    width: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff8e1;
}

.dropdown-div:hover {
    transition: 0.3s;
    overflow: visible;
}

.dropdown-item {
    position: relative;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff8e1;
}

.dropdown-link{
    margin: 0.5rem;
}

#new_post{
    background-color: #fff8e1;
    padding: 1rem;
    border-radius: 1rem;
}

#new_post:hover{
    background-color: #ffc107;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 50%;
}

footer div a{
    color:black;
    text-decoration: underline;
}