/* Header */ 

header {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

/* Header Top */ 

#top_header{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#left_top_header{
    font-family: Stencil Std;
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    margin: 0.4rem;
}

#eforum{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 3em;
    color:#8e24aa;
}

#E{
    color: #ffc107 ;
    background-color: #8e24aa;
    padding: 0 3% 0 3%;
}

#lfde{
    padding-bottom: 0.3rem;
    padding-left: 1.5rem;
    font-family: Comic Sans MS;
    color: black;
}

#right_top_header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Search Box */

.search-box{
    transition: 0.8s;
    margin-right: 2rem;
    background-color: #fff8e1;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    width: 2rem;
    overflow: hidden;
}

.search-btn{
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: #fff8e1;
    padding: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}

.search-input{
    border: none;
    background-color: #fff8e1;
    margin-left: 1rem;
    outline: none;
}

.search-box:hover{
    transition: 0.8s;
    width: 12rem;
}

.search-box:after:hover{
    width: 12rem;
}

.notif-icon, .account-icon,  .dropdown-account, .search-box{
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
}

#right_top_header img{
    height: 100%;
}

/* dropdown-account */

.dropdown-account{
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.dropdown-account.active{
    transition: 0.5s;
    overflow: visible;
}

.dropdown-account ul{
    margin: 0.5rem 0 0 0;
    background-color: #fff8e1;
    border-radius: 1rem;
    float: right;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .dropdown-account ul li::before{
    z-index: 100;
    position: absolute;
    background-color: #fff8e1;
    content: '';
    top: 2.35rem;
    right: 0.4rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
} */

.dropdown-account ul a{
    z-index: 0;
    transition: 0.3s;
    list-style-type: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1rem;
}

.dropdown-account ul a:hover{
    transition: 0.3s;
    background-color: #ffc107;
    border-radius: 3rem;
}

.dropdown-account ul span{
    height: 3rem;
}

.dropdown-account h1{
    width: max-content;
}

/* Header Bottom */

header nav{
    height: 40%;
    display: flex;
    justify-content: space-around;
}


.nav-link{
    transition: 0.5s;
    display: flex;
    align-items: center;
    color: black;
}

.nav-link:hover{
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
    font-size: 1.1rem;
    background-color: #fff8e1;
}

#new_post{
    background-color: #fff8e1;
    padding: 1rem;
    border-radius: 1rem;
}

#new_post:hover{
    background-color: #ffc107;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 50%;
}

footer div a{
    color:black;
    text-decoration: underline;
}