/* Body */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:  #F5F5F5;
}

.page-content {
    background-color:;
    margin: 1rem;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

/* Header */ 

header {
    width: 100%;
    height: 100px;
    font-family: sans-serif;
}

/* Header Top */ 

#top_header{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#left_top_header{
    width: 85%;
    font-family: Stencil Std;
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
    margin: 0.4rem;
}

#eforum{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 3em;
    color:#8e24aa;
}

#E{
    color: #fbe9e7;
    background-color: #8e24aa;
    padding: 0 3% 0 3%;
}

#lfde{
    padding-bottom: 0.3rem;
    padding-left: 1.5rem;
    font-family: Comic Sans MS;
    color: black;
}

#right_top_header{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#notif_icon, #account_icon, #search_icon{
    height: 50%;
    width: inherit;
}

#right_top_header img{
    height: 100%;
}

/* Header Bottom */

header nav{
    height: 40%;
    display: flex;
    justify-content: space-around;
}


.nav-link{
    transition: 0.5s;
    display: flex;
    align-items: center;
    color: black;
}

.nav-link:hover{
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
    font-size: 1.1rem;
    background-color: #fff8e1;
}

#new_post{
    background-color: #fff8e1;
    padding: 1rem;
    border-radius: 1rem;
}

#new_post:hover{
    background-color: #ffc107;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    width: 50%;
}

footer div a{
    color:black;
    text-decoration: underline;
}