{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

{% for user in users %}
<div class="jumbotron">
  <h1 class="display-3">{{user.firstName ~ ' ' ~ user.lastName }}</h1>
  <hr class="my-4">
  <p>{{ user.email }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{path('show_user', {id:user.id})}}" role="button">Afficher plus</a>
  </p>
</div>
{% endfor %}

{% endblock %}
